@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic-ext');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.app {
    min-height: 100vh;
    background-color: #1285c8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;


    &__col {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        flex-basis: 50%;
        padding: 30px 15px;
        transform: translateZ(0);
        &:nth-child(2) {
            align-items: flex-start;
        }
    }
}

.ticket {
    max-width: 635px !important;
}
.of_main_form {
    height: 100px;
}
